# For direnv; used to automatically activate conda environment
.envrc
# Any virtual environment folder
*venv*/
# VS Code stuff
.vscode

output/

.ipynb_checkpoints/
__pycache__/
*.swp
echonet.cfg
.echonet.cfg
*.pyc
echonet.egg-info/
