# certifi
# cycler
# decorator
#echonet
# imageio
# joblib
# kiwisolver
matplotlib
# networkx
numpy
# opencv-python
# pandas
# Pillow
# pyparsing
# python-dateutil
# pytz
# PyWavelets
# scikit-image
# scikit-learn
# scipy
# six
# threadpoolctl
# tifffile
# tqdm
# typing-extensions
# --extra-index-url https://download.pytorch.org/whl/cu116
# torch
# torchvision
flask
pydicom 
flask-sqlalchemy
gunicorn==20.1.0
python-dotenv
google-api-python-client
dataclasses
ffmpeg
